<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base Template{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="stylesheet" href="{{ asset('css/navigation.css') }}">
    {% endblock %}
</head>

<body>
<nav>
    <div id="navigation">
    {% block navigation %}
        <h2> <a href="{{ path('mainPage') }}">О Нас</a> </h2>
        <h2> <a href="{{ path('articlesPage') }}">Нумерология</a> </h2>
        <h2> <a href="{{ path('mainPage') }}">Программа</a> </h2>
        <h2> <a href="{{ path('mainPage') }}">Обучение</a> </h2>
        <h2 id="login"> <a href="{{ path('mainPage') }}">Войти</a></h2> {#TODO: create login page/form#}
    {% endblock %}
    </div>
</nav>
<div id="sidebar">
    {% block sidebar %}
    {% endblock %}
</div>
<div id="content">
    {% block body %}
    {% endblock %}
</div>
{% block javascripts %}

{% endblock %}
</body>
</html>