{# Required input:
    products (list)
        product.title
        product.image
        product.imageAlt
        product.body

    articles (list)
        article.title
        article.image
        article.imageAlt
        article.body
#}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base Template{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="stylesheet" href="{{ asset('css/sidebar.css') }}">
        <link rel="stylesheet" href="{{ asset('css/navigation.css') }}">
        <link rel="stylesheet" href="{{ asset('css/article_preview.css') }}">
        <link rel="stylesheet" href="{{ asset('css/product_preview.css') }}">
    {% endblock %}
</head>

<body>
<div id="sidebar">
    {% block sidebar %}
        <img id="logo" src="{{ asset('') }}"  {#TODO: Insert logo asset path#}
             alt="Лого сайта">
        {% for product in products %}
            {{ include('product_preview.html.twig', { 'product': product}) }}
        {% endfor %}
        <h2 id="showAllProducts"><a href="{{ path('mainPage') }}">Показать все продукты</a></h2>
    {% endblock %}
</div>
<nav>
    {% block navigation %}
        <h2 class="nav"> <a href="{{ path('mainPage') }}">Главная</a> </h2> {#TODO: create actuall pages and setup paths#}
        <h2 class="nav"> <a href="{{ path('mainPage') }}">Статьи</a> </h2>
        <h2 class="nav"> <a href="{{ path('mainPage') }}">Продукты</a> </h2>
        <h2 id="login"> <a href="{{ path('mainPage') }}">Войти</a></h2>
    {% endblock %}
</nav>
<div id="content">
    {% block body %}
    {% endblock %}
</div>
{% block javascripts %}

{% endblock %}
</body>
</html>