<div class="product_preview">
    <h2>{{ product.title }}</h2>
    <img src="{{ product.image }}"
         alt="{{ product.imageAlt }}">
    <p>
        {{ product.body }}
        <a href="{{ path(product.path) }}">Узнать больше</a>
    </p>
</div>